@import "src/styles/colors";
@import "src/styles/sizes";

.container {

    @media screen and (max-width : $contentWidth_800max) {
        text-align : center;

        .row {
            text-align : center;

            svg {
                display : block;
                margin  : auto;
            }

            div {
                width : 0 !important;
            }
        }
    }

    .link {
        display         : block;
        text-decoration : none;
        text-transform  : capitalize;
        overflow        : hidden;
        height          : 40px;
    }

    .row {
        align-items : center;

        div {
            width      : 100%;
            transition : .1s;
            overflow   : hidden;
        }
    }

    &.dark {
        .active {
            background : $black_12;

            &:hover {
                background : $black_12;
            }
        }

        .icon {
            filter : invert(1);
        }

        .link {
            color : $white;
        }
    }

    &.white {
        .active {
            background : $white_6;
        }

        .icon {
            filter : invert(0);
        }

        .link {
            color : $black;
        }
    }
}