@import "src/styles/colors";
@import "src/styles/sizes";

.container {
    .link {
        display         : block;
        text-decoration : none;
        text-transform  : capitalize;
    }

    .row {
        align-items : center;
    }

    &.dark {
        .active {
            background : $black_8;

            &:hover {
                background : $black_8;
            }
        }

        .icon {
            filter : invert(1);
        }

        .link {
            color : $white;
        }
    }

    &.light {
        .icon {
            filter : invert(0);
        }

        .link {
            color : $black;
        }
    }
}