@import "src/styles/colors";
@import "src/styles/sizes";

.container {
    .row {
        align-items: center;

        .title {
            font-size: 40px;
            text-transform: capitalize;
        }

        .counter {
            padding: 0 $mediumOffset;
            font-size: 30px;
            border-radius: $mediumOffset;
            transition: .1s;
        }
    }

    &.dark {
        .counter {
            border: 2px solid $black_8;
        }
    }
    &.white {
        .counter {
            border: 2px solid $white_-2;
        }
    }
}