.container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    .text {

    }

    .icon {
        transition: .2s;
        opacity: .6;

        &:hover {
            transform: scale(1.05);
            opacity: 1;
        }
    }
}