@import "src/styles/sizes";

.container {
    :global {
        .ant-collapse-header {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            display: flex;
            align-items: center !important;
        }

        .ant-collapse-header,
        .ant-collapse-content-box {
            padding: $smallOffset 0 !important;
        }
    }
}