@import "src/styles/colors";
@import "src/styles/sizes";

.container {
    cursor: pointer;
    padding: $smallOffset;
    border-radius: $smallOffset;
    display: flex;
    justify-content: center;

    &.dark {
        color: $white;
        background: darken($darkBlack, 4);

        &:hover {
            background: darken($darkBlack, 6);
        }
    }

    &.white {
        color: $darkBlack;
        background: lighten($white, 4);

        &:hover {
            background: lighten($white, 6);
        }
    }
}