@import "src/styles/colors";
@import "src/styles/sizes";

.container {
    cursor          : pointer;
    padding         : $smallOffset;
    border-radius   : $smallOffset;
    height          : $mediumHeight;
    display         : flex;
    justify-content : center;
    align-items     : center;
    pointer-events  : none;
    opacity         : .6;
    transition      : .1s;

    &.active {
        pointer-events : auto;
        opacity        : 1;
    }

    &.loading {
        animation      : $loading;
        pointer-events : none;
    }

    &.dark {
        color      : $white_-16;
        background : $black_8;
        border     : 1px solid $black_12;

        &:hover {
            background : $black_12;
            border     : 1px solid $black_16;
        }
    }

    &.white {
        color      : $black_-4;
        background : $white_2;
        border     : 1px solid $white_-4;

        &:hover {
            background : $white_4;
            border     : 1px solid $white_-8;
        }
    }
}