@import "src/styles/colors";
@import "src/styles/sizes";

.container {
    cursor: pointer;
    padding: $smallOffset;
    border-radius: $smallOffset;
    height: $mediumHeight;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: .6;
    transition: .1s;

    &.active {
        pointer-events: auto;
        opacity: 1;
    }

    &.loading {
        animation: $loading;
    }

    &.dark {
        color: $white;
        background: $black;

        &:hover {
            background: $black_-2
        }
    }

    &.white {
        color: $black;
        background: $white_2;

        &:hover {
            background: $white_4;
        }
    }
}