@import "src/styles/colors";

.container {
    &.active {
        background : $mark_blue_4;
        color: #fff;

        &:hover {
            background : $mark_blue_4;
            color: #fff;
        }
    }
}