@import "src/styles/colors";
@import "src/styles/sizes";

.container {
    :global {
        .ant-input-affix-wrapper {
            transition    : .1s;
            padding       : $mediumOffset calc($mediumOffset + 5px);
            border-radius : $smallOffset;
        }

        .ant-input-affix-wrapper > input,
        input.ant-input-affix-wrapper {
            transition : .1s;
        }

        .ant-input-show-count-suffix {
            font-size : 12px;
            bottom    : 0;
            right     : 10px;
        }
    }

    &.dark {
        :global {
            .ant-input-affix-wrapper {
                border        : none;
                background    : $black_8;
                color         : $white;

                input {
                    background : $black_8;
                    color      : $white;
                }

                &-focused {
                    outline : 1px solid $mark_blue_4;
                }
            }

            .ant-input-show-count-suffix {
                color : $white-_16;
            }
        }
    }

    &.white {
        :global {
            .ant-input-affix-wrapper {
                border        : none;
                background    : $white_8;
                color         : $black;

                input {
                    background : $white_8;
                    color      : $black;
                }

                &-focused {
                    outline : 1px solid $mark_blue_4;
                }
            }

            .ant-input-show-count-suffix {
                color : $black_16;
            }
        }
    }
}