@import "src/styles/colors";
@import "src/styles/sizes";

.container {
    :global {
        .ant-input-affix-wrapper,
        input {
            transition    : .1s;
            padding       : $mediumOffset $mediumOffset $mediumOffset calc($mediumOffset + 5px);
            border-radius : $smallOffset;
        }

        .ant-input-affix-wrapper > input,
        input.ant-input-affix-wrapper {
            transition : .1s;

            &::placeholder {
                transition : .1s;
            }
        }

        .ant-input-show-count-suffix {
            font-size : 12px;
            bottom    : 0;
            right     : 10px;
        }
    }

    &.dark {
        :global {
            .ant-input-affix-wrapper,
            input {
                border     : none;
                background : $black_12 !important;
                color      : $white;

                &::placeholder {
                    color : $black_32;
                }

                input {
                    background : $black_12 !important;
                }

                &-focused,
                &:focus {
                    outline : 1px solid $mark_blue_4;
                }
            }

            input:focus {
                outline : none !important;
            }

            .ant-input-show-count-suffix {
                color : $white-_16;
            }
        }
    }

    &.white {
        :global {
            .ant-input-affix-wrapper,
            input {
                border     : none;
                background : $white_8;
                color      : $black;

                &::placeholder {
                    color : $white_-16;
                }

                &-focused,
                &:focus {
                    outline : 1px solid $mark_blue_4;
                }
            }

            input:focus {
                outline : none !important;
            }

            .ant-input-show-count-suffix {
                color : $black_16;
            }
        }
    }
}