@import "colors";

body.dark {
    .ant-picker-panel-container {
        background : $black_-2 !important;
        color      : $white !important;

        .ant-picker-time-panel-cell {
            &-selected {
                & > div {
                    background : $mark_blue_4 !important;
                }
            }

            &:hover {
                & > div {
                    background : $black_16 !important;
                }
            }

            &-inner {
                color : $white !important;
            }
        }

        .ant-picker-ranges {
            .ant-picker-now a {
                color : $mark_blue_4 !important;
            }

            .ant-picker-ok button {
                background : $mark_blue_4 !important;
            }
        }
    }

    .ant-popover-arrow {
        &:before {
            background : $black_16;
        }
    }

    .ant-popover-inner, {
        background : $black_8 !important;

        .ant-select-selection-item,
        .ant-select-arrow svg {
            color : $white_-16 !important;
        }
    }

    .ant-input-affix-wrapper,
    .ant-input-number,
    .ant-input-number-handler-wrap {
        background : $black_8 !important;
        border     : 1px solid $black_12;

        .ant-input-prefix,
        .ant-input-number-handler-wrap svg {
            color : $white_-32 !important;
        }

        .ant-input-number-handler {
            border : 1px solid transparent;
        }

        & input {
            background : $black_8 !important;
            color      : $white_-16;
        }
    }

    .rc-virtual-list-holder-inner {
        display : flex;
        gap     : 5px;
    }

    .ant-select-dropdown {
        background : $black_12;
        gap        : 5px;

        .ant-select-item {
            background : $black_16;
            color      : $white_-16;

            &:hover {
                background : $black_24;
            }

            &-option-selected {
                background : $black_32;
            }
        }
    }
}

body.white {
    .ant-picker-ranges {
        .ant-picker-now a {
            color : $mark_blue_4 !important;
        }

        .ant-picker-ok button {
            background : $mark_blue_4 !important;
        }
    }

    .ant-popover-arrow {
        &:before {
            background : $white_2;
        }
    }

    .ant-popover-inner, {
        background : $white_8 !important;

        .ant-select-selection-item,
        .ant-select-arrow svg {
            color : $black_16 !important;
        }
    }

    .ant-input-affix-wrapper,
    .ant-input-number,
    .ant-input-number-handler-wrap {
        background : $white_8 !important;
        border     : 1px solid $white_-8;

        .ant-input-prefix,
        .ant-input-number-handler-wrap svg {
            color : $black_12 !important;
        }

        .ant-input-number-handler {
            border : 1px solid transparent;
        }

        & input {
            background : $white_8 !important;
            color      : $black_16;
        }
    }

    .rc-virtual-list-holder-inner {
        display : flex;
        gap     : 5px;
    }

    .ant-select-dropdown {
        background : $white_8;

        .ant-select-item {
            background : $white_4;
            color      : $black_12;
            border     : 1px solid $white_4;

            &:hover {
                background : $white_8;
            }

            &-option-selected {
                background : $white_16 !important;
                border     : 1px solid $mark_blue_4;
            }
        }
    }
}