$black                            : #0C101C;
$darkBlack                        : #111625;
$grayBlack                        : #1D2131;
$lightBlack                       : #27283B;

$gray                             : #4F5569;
$lightGray                        : #868FAB;
$darkWhite                        : #D7DDEA;
$white                            : #E6EAF3;
$lightWhite                       : #F7F9FC;

$markRedDark                      : #421616;
$markRedLight                     : #DA65B8;
$markBlueDark                     : #221155;
$markBlueLight                    : #7777FF;
$markGreenDark                    : #224422;
$markGreenLight                   : #8CE88C;
$markOrangeDark                   : #554411;
$markOrangeLight                  : #FF7722;
$markYellowDark                   : #8D8439;
$markYellowLight                  : #FFCF30;

$mark_blue_-2                     : darken($markBlueLight, 2);
$mark_blue_-4                     : darken($markBlueLight, 4);
$mark_blue_-6                     : darken($markBlueLight, 6);
$mark_blue_-8                     : darken($markBlueLight, 8);

$mark_blue_2                      : lighten($markBlueLight, 2);
$mark_blue_4                      : lighten($markBlueLight, 4);
$mark_blue_6                      : lighten($markBlueLight, 6);
$mark_blue_8                      : lighten($markBlueLight, 8);

$black_-2                         : darken($black, 2);
$black_-4                         : darken($black, 4);
$black_-6                         : darken($black, 6);
$black_-8                         : darken($black, 8);

$black_2                          : lighten($black, 2);
$black_4                          : lighten($black, 4);
$black_6                          : lighten($black, 6);
$black_8                          : lighten($black, 8);
$black_12                          : lighten($black, 12);
$black_14                          : lighten($black, 14);
$black_16                          : lighten($black, 16);
$black_24                          : lighten($black, 24);
$black_32                          : lighten($black, 32);

$white_-2                         : darken($white, 2);
$white_-4                         : darken($white, 4);
$white_-6                         : darken($white, 6);
$white_-8                         : darken($white, 8);
$white_-12                         : darken($white, 12);
$white_-14                         : darken($white, 14);
$white_-16                         : darken($white, 16);
$white_-32                         : darken($white, 32);

$white_2                          : lighten($white, 2);
$white_4                          : lighten($white, 4);
$white_6                          : lighten($white, 6);
$white_8                          : lighten($white, 8);

$defaultBoxShadow                 : 0 4px 10px -4px rgb(0 0 0 / 100%);
$defaultLightBoxShadow            : 0 2px 5px -3px rgb(0 0 0 / 20%);
$defaultLightBoxShadow_bottom_1px : 0 1px 1px 0px rgb(0 0 0 / 20%);

$loading                          : loading .5s infinite ease-in-out;

@keyframes loading {
    0% {
        opacity : .8;
    }
    50% {
        opacity : .4;
    }
    100% {
        opacity : .8;
    }
}