@import "../../../styles/colors";
@import "../../../styles/sizes";

.container {
    padding       : $mediumOffset;
    border-radius : $mediumOffset;

    .row {
        display         : flex;
        justify-content : space-between;
    }

    .title {
        font-size   : 16px;
        font-weight : bold;
    }

    .desc {
        font-size     : 14px;
        max-height    : 72px;
        overflow      : hidden;
        text-overflow : ellipsis;
    }

    .icon {
        max-height : 16px;
        max-height : 16px;
        min-width  : 16px;
        min-height : 16px;
    }

    &.loading {
        animation : $loading;
    }

    &.completed {
        opacity : .8;
    }

    &.selected {
        opacity : 1;
    }

    &:hover {
        cursor : pointer;
    }

    &.dark {
        &.completed {
            background : $black_4;
        }

        &.selected {
            background : $black_8;
        }

        &:hover:not(.selected) {
            background : $black_2;
        }

        .title {
            color : $white_2;
        }

        .desc {
            color : $white_-8;
        }
    }

    &.white {
        &.completed {
            background : $white_-4;
        }

        &.selected {
            background : $white_-6;
        }

        &:hover:not(.selected) {
            background : $white_-2;
        }

        .title {
            color : $black_2;
        }

        .desc {
            color : $black_-2;
        }
    }
}