@import "../../../styles/colors";
@import "../../../styles/sizes";

.container {
    padding: $mediumOffset;
    border-radius: $mediumOffset;
    width: 100%;

    .row {
        display: flex;
        justify-content: space-between;
    }

    &.loading {
        animation: $loading;
    }

    &.completed {
        opacity: .8;
    }

    &.selected {
        opacity: 1;
    }

    &:hover {
        cursor: pointer;
    }

    &.dark {
        &.completed {
            background: lighten($darkBlack, 4);
        }

        &.selected {
            background: lighten($darkBlack, 8);
        }

        &:hover:not(.selected) {
            background: lighten($darkBlack, 2);
        }
    }

    &.white {
        &.completed {
            background: darken($white, 4);
        }

        &.selected {
            background: darken($white, 8);
        }

        &:hover:not(.selected) {
            background: darken($white, 2);
        }
    }
}