@import "src/styles/colors";
@import "src/styles/sizes";

.container {
    position: relative;
    width: 44px;
    height: $mediumSmallHeight;
    background: $white_-2;
    border-radius: calc(#{$mediumSmallHeight} / 2);

    &.dark {
        background: $black_4;
    }
    &.white {
        background: $white_-4;
    }
}