@import "src/styles/sizes";

.container {
    font-size      : 26px;
    text-transform : capitalize;
/*
    @media screen and (max-width : $contentWidth_800max) {
        width    : 24px;
        overflow : hidden;
        margin   : auto;
    }*/
}