

.container {
    min-width: 400px;
    width: 400px;
    overflow-x: hidden;
    transition: .4s;

    .content {
        min-width: 400px;
        width: 100%;
    }

    &.hidden {
        min-width: 0;
        width: 0;
    }
}