@import "src/styles/colors";

:global {
    .dark {
        .ant-popover-arrow {
            &:before {
                background : $black_16;
            }
        }

        .ant-popover-inner, {
            background : $black_8 !important;

            .ant-select-selection-item,
            .ant-select-arrow svg {
                color : $white_-16 !important;
            }
        }

        .ant-input-affix-wrapper,
        .ant-input-number,
        .ant-input-number-handler-wrap {
            background : $black_8 !important;
            border     : 1px solid $black_12;

            .ant-input-prefix,
            .ant-input-number-handler-wrap svg {
                color : $white_-32 !important;
            }

            .ant-input-number-handler {
                border : 1px solid transparent;
            }

            & input {
                background : $black_8 !important;
                color      : $white_-16;
            }
        }

        .rc-virtual-list-holder-inner {
            display : flex;
            gap     : 5px;
        }

        .ant-select-dropdown {
            background : $black_12;
            gap        : 5px;

            .ant-select-item {
                background : $black_16;
                color      : $white_-16;

                &-option-selected {
                    background : $black_32;
                }
            }
        }
    }

    .white {
        .ant-popover-arrow {
            &:before {
                background : $white_2;
            }
        }

        .ant-popover-inner, {
            background : $white_8 !important;

            .ant-select-selection-item,
            .ant-select-arrow svg {
                color : $black_16 !important;
            }
        }

        .ant-input-affix-wrapper,
        .ant-input-number,
        .ant-input-number-handler-wrap {
            background : $white_8 !important;
            border     : 1px solid $white_-8;

            .ant-input-prefix,
            .ant-input-number-handler-wrap svg {
                color : $black_12 !important;
            }

            .ant-input-number-handler {
                border : 1px solid transparent;
            }

            & input {
                background : $white_8 !important;
                color      : $black_16;
            }
        }

        .rc-virtual-list-holder-inner {
            display : flex;
            gap     : 5px;
        }

        .ant-select-dropdown {
            background : $white_8;

            .ant-select-item {
                background : $white_4;
                color      : $black_12;

                &-option-selected {
                    background : $white_-2;
                }
            }
        }
    }
}

.container {
    &.dark {
        :global {
            .ant-color-picker {
                &-trigger {
                    background : $black_8;
                    border     : 1px solid $black_16;
                    transition : .1s;

                    &:hover {
                        background : $black_12 !important;
                    }

                    &-text {
                        color      : $white_-16;
                        transition : .1s;
                    }
                }
            }
        }
    }

    &.white {
        :global {
            .ant-color-picker {
                &-trigger {
                    background : $white_2;
                    border     : 1px solid $white_-4;
                    transition : .1s;

                    &:hover {
                        background : $white_4 !important;
                    }

                    &-text {
                        color      : $black_-4;
                        transition : .1s;
                    }
                }
            }
        }
    }
}