@import "src/styles/colors";
@import "src/styles/sizes";

.container {
    width: 100%;
    height: $contentHeight;
    margin-top: $bigOffset;

    &.dark {
        color: $white;
    }
    &.white {
        color: $darkBlack;
    }
}