@import "src/styles/colors";
@import "src/styles/sizes";

.container {
    padding: $smallOffset;
    height: $mediumSmallHeight;
    font-size: 10px;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray;
    position: relative;
    z-index: 999;

    .link {
        color: $gray;

        &:hover {
            color: $markBlueLight;
        }
    }

    &.dark {
        background: $black_-2;
    }
    &.white {
        background: $white_2;
    }
}