@import "src/styles/sizes";

.container {
    .input {
        width: 100%;
    }
    .toggle {
        width: $mediumHeight;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
    }
}