@import "src/styles/colors";
@import "src/styles/sizes";

$gap : 10px;

.container {
    :global {
        .react-calendar {
            border        : none !important;
            width         : 100% !important;
            border-radius : $smallOffset;
            transition    : .1s;

            & * {
                transition : .1s !important;
            }

            &__navigation {
                gap : $gap;
            }

            &__month-view {
                &__days,
                &__weekdays {
                    gap : $gap;

                    &__day,
                    &__weekday {
                        flex          : 0 0 calc((100% / 7) - ($gap * 6) / 7) !important;
                        border-radius : $smallOffset;
                    }

                    &__weekday {
                        & * {
                            text-decoration : none !important;
                            opacity         : .5;
                            cursor          : default;
                            user-select     : none;
                        }
                    }
                }
            }

            &__year-view__months,
            &__century-view__decades,
            &__decade-view__years {
                gap : $gap;

                &__month,
                &__decade,
                &__year {
                    flex          : 0 0 calc((100% / 3) - ($gap * 2) / 3) !important;
                    border-radius : $smallOffset;
                }
            }

            &__tile {

            }
        }
    }

    &.dark {
        :global {
            .react-calendar {
                background : $black_2 !important;

                & * {
                    color : $white_-4 !important;
                }

                &__navigation {
                    &__label,
                    &__arrow {
                        background    : $black_4 !important;
                        border        : 1px solid $black_6;
                        border-radius : $smallOffset;

                        &:hover {
                            background : $black_12 !important;
                        }
                    }
                }

                &__month-view {
                    &__days {
                        &__day {
                            &--weekend {
                                & > * {
                                    color : $mark_blue_4 !important;
                                }
                            }

                            &--neighboringMonth {
                                background : $black_2 !important;
                            }
                        }
                    }
                }

                &__tile {
                    background : $black_4;
                    border     : 1px solid $black_6;

                    &:hover:not(&--active) {
                        background : $black_12;
                        border     : 1px solid $black_16;
                    }

                    &--active,
                    &--hasActive {
                        background : $mark_blue_4 !important;
                        border     : 1px solid $black_6;

                        & > * {
                            color : $white_-4 !important;
                        }
                    }

                    &--now {
                        background : $black_8;
                        border     : 1px solid $black_12;
                    }
                }
            }
        }
    }

    &.white {
        :global {
            .react-calendar {
                background : $white_-2 !important;

                & * {
                    color : $black_4 !important;
                }

                &__navigation {
                    &__label,
                    &__arrow {
                        background    : $white_-4 !important;
                        border        : 1px solid $white_-6;
                        border-radius : $smallOffset;

                        &:hover {
                            background : $white_-12 !important;
                            border     : 1px solid $white_-16;
                        }
                    }
                }

                &__month-view {
                    &__days {
                        &__day {
                            &--weekend {
                                & > * {
                                    color : $mark_blue_4 !important;
                                }
                            }

                            &--neighboringMonth {
                                background : $white_-2 !important;
                            }
                        }
                    }
                }

                &__tile {
                    background : $white_-4;
                    border     : 1px solid $white_-6;

                    &:hover:not(&--active) {
                        background : $white_-12;
                        border     : 1px solid $white_-16;
                    }

                    &--active,
                    &--hasActive {
                        background : $mark_blue_4 !important;
                        border     : 1px solid $mark_blue_4;

                        & > * {
                            color : $white_-4 !important;
                        }
                    }

                    &--now {
                        background : $white_-8;
                    }
                }
            }
        }
    }
}