@import "src/styles/colors";
@import "src/styles/sizes";

.container {
    border-radius: $mediumOffset;
    padding: $mediumOffset;
    width: 100%;
    height: 100%;

    &.dark {
        background: $black_6;
        &:hover {
            background: $black_8;
        }
    }

    &.white {
        background: $white_-4;
        &:hover {
            background: $white_2;
        }
    }
}