@import "src/styles/colors";

.container {
    &.dark {
        :global {
            .ant-checkbox-wrapper {
                .ant-checkbox ~ span {
                    color : $white;
                }

                &:hover .ant-checkbox-inner {
                    border : 1px solid $mark_blue_4 !important;
                }

                .ant-checkbox {
                    &-checked {
                        .ant-checkbox-inner {
                            background : $mark_blue_4 !important;
                            border     : 1px solid $mark_blue_4 !important;
                        }

                        &-inner {
                            border : 1px solid $black_32 !important;

                            &:hover {
                                border : 1px solid $mark_blue_4 !important;
                            }
                        }
                    }
                }
            }
        }
    }

    &.white {
        :global {
            .ant-checkbox-wrapper {
                .ant-checkbox ~ span {
                    color : $black;
                }

                &:hover .ant-checkbox-inner {
                    border : 1px solid $mark_blue_4 !important;
                }

                .ant-checkbox {
                    &-checked {
                        .ant-checkbox-inner {
                            background : $mark_blue_4 !important;
                            border     : 1px solid $mark_blue_4 !important;
                        }

                        &-inner {
                            border : 1px solid $black_32 !important;

                            &:hover {
                                border : 1px solid $mark_blue_4 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}