@import "src/styles/sizes";
@import "src/styles/colors";

.container {
    padding: $bigOffset;
    border-radius: $mediumOffset;
    width: 100%;

    &.dark {
        background: $black_2;
    }

    &.white {
        background: $white_-2;
    }
}