@import "src/styles/colors";
@import "src/styles/sizes";

.container {
    height: $mediumHeight;
    padding: $mediumOffset;
    outline: none;
    border: none;
    border-radius: $smallOffset;
    text-indent: $smallOffset;
    transition: .1s;

    &.dark {
        background: lighten($darkBlack, 4);
        color: $white;
    }
    &.white {
        background: lighten($white, 8);
        color: $darkBlack;
    }
}